/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

header {
    background-color: #000000;
    text-align: center;
    padding: 20px 0;
}

.header-container {
    display: flex;
    justify-content: center;
}

.logo img {
    max-width: 200px;
}

.content {
    text-align: center;
    padding: 50px 0;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box {
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.box h2 {
    color: #333;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}
/* styles.css */

/* Estilo de la animación del logo giratorio */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Estilo del logo en el centro de la pantalla */
#loading-logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 2s linear infinite; /* Aplica la animación giratoria */
    z-index: 9999; /* Asegura que el logo esté en la parte superior */
}
